[submodule "nvim/.config/nvim/bundle/Vundle.vim"]
	path = nvim/.config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim/
[submodule "nvim/.config/nvim/nerdtree"]
	path = nvim/.config/nvim/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "nvim/.config/nvim/emmet-vim"]
	path = nvim/.config/nvim/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "nvim/.config/nvim/lightline.vim"]
	path = nvim/.config/nvim/lightline.vim
	url = https://github.com/itchyny/lightline.vim
