# Same thing as .xinitrc but used when a login manager is used (use only for my dwm build)

# Start the status bar
slstatus &

# Wallpaper
nitrogen --restore &

# Hide mouse after 3 seconds of inactivity
unclutter -idle 3 &

# Xresources for urxvt
#xrdb ~/.Xresources
